networks:
  nginx-wp:
  wp-db:

volumes:
  wp-data:
    driver: local
    driver_opts:
      type: none
      device: /home/lpennisi/data/wordpress
      o: bind
  db-data:
    driver: local
    driver_opts:
      type: none
      device: /home/lpennisi/data/mariadb
      o: bind

secrets:
  mysql_root_password:
    file: ../secrets/mysql_root_password.txt
  mysql_user:
    file: ../secrets/mysql_user.txt
  mysql_password:
    file: ../secrets/mysql_password.txt
  wp_admin_usr:
    file: ../secrets/wp_admin_usr.txt
  wp_admin_pwd:
    file: ../secrets/wp_admin_pwd.txt
  wp_admin_email:
    file: ../secrets/wp_admin_email.txt
  wp_usr:
    file: ../secrets/wp_usr.txt
  wp_email:
    file: ../secrets/wp_email.txt
  wp_pwd:
    file: ../secrets/wp_pwd.txt


services:
  nginx:
    container_name: nginx
    image: nginx:inception
    build: requirements/nginx/.
    ports:
      - "443:443"
    env_file:
      - .env
    networks:
      - nginx-wp
    volumes:
      - wp-data:/var/www/html
    depends_on:
      - wordpress
      - mariadb
    restart: on-failure
    healthcheck:
      test: ["CMD", "nginx", "-t"]
      interval: 30s
      timeout: 10s
      retries: 3
      start_period: 30s
  wordpress:
    container_name: wordpress
    image: wordpress:inception
    env_file:
      - .env
    secrets:
      - wp_admin_usr
      - wp_admin_pwd
      - wp_admin_email
      - wp_usr
      - wp_email
      - wp_pwd
      - mysql_root_password
      - mysql_user
      - mysql_password
    build: requirements/wordpress/.
    volumes:
      - wp-data:/var/www/html
    networks:
      - nginx-wp
      - wp-db
    depends_on:
      - mariadb
    restart: on-failure
    healthcheck:
      test: ["CMD", "php-fpm82", "-t"]
      interval: 30s
      timeout: 10s
      retries: 3
      start_period: 30s
  mariadb:
    container_name: mariadb
    image: mariadb:inception
    build: ./requirements/mariadb/.
    secrets:
      - mysql_root_password
      - mysql_user
      - mysql_password
    volumes:
      - db-data:/var/lib/mysql
    networks:
      - wp-db
    restart: on-failure
    healthcheck:
      test: ["CMD", "mysqladmin", "ping", "-h", "localhost", "-u", "root", "-p${MYSQL_ROOT_PASSWORD}"]
      interval: 10s
      timeout: 5s
      retries: 5
      start_period: 30s
  # phpmyadmin:
  #   image: phpmyadmin/phpmyadmin:latest
  #   container_name: phpmyadmin
  #   restart: always
  #   networks:
  #     - wp-db
  #   ports:
  #     - "8080:80"
  #   environment:
  #     PMA_HOST: mariadb
  #     PMA_PORT: 3306
  #   depends_on:
  #     - mariadb